* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  display: flex;
  justify-content: center;
  background: #000C36;
  font-family: "Roboto Slab", serif;
  color: white;
}

.app {
  height: 100%;
  max-width: 420px;
  padding: 2em;
  background: #000C36;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

.app-logo {
  width: 60px;
  height: 65px;
}

.app-title {
  margin-top: 0;
  margin-bottom: .1em;
}

.sub-title {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 0.85rem;
}

.landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label, legend {
  font-size: 1.1rem;
}


textarea {
  width: 100%;
  resize: none;
  background: #3B4877;
  border: none;
  border-radius: 0.25em;
  padding: 0.75em;
  font-family: "Roboto Slab", serif;
  font-size: 0.95rem;
  line-height: 1.25;
  letter-spacing: .05rem;
  color: white;
}

.chip-select {
  border: none;
  padding: 0;
}

.chip-select-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.chip-select-option {
  border: none;
  border-radius: 0.75em;
  background: #3B4877;
  padding: 0.5em 0.75em;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="radio"] {
  display: none;
}

.chip-select-option:hover,
input[type="radio"]:checked + .chip-select-option {
  background: #55619b;
}

button[type="submit"] {
  margin-top: 1em;
}


.loading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center; 
}

.recommendations {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.movie-title {
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  font-size: 1.25rem;
}

.movie-poster {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 0.5em;
}

.movie-description {
  margin-top: 0.75em;
  font-size: 1rem;
  line-height: 1.5;
}

button {
  padding: 0.75em 1em;
  width: 100%;
  background: #51E08A;
  border: none;
  border-radius: 0.25em;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
    background: #37e075;
    color: white;
}

body, textarea, .loading {
    font-family: "Roboto Slab", serif;
    color: white;
}


